@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body#index, body#report {
	dislpay: block;
	width: 800px;
	margin: 0px auto;
	padding: 10px;
	font-family: 'Times New Roman', sans-serif;
}

body#index {
	overflow: hidden;
}

#div-file {
	display: block;
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 150px;
	margin: 100px auto;
}

img#logo-topo {
	display: block;
	margin: 0px auto;
}

#content #title hgroup h1 {
	text-align: center;
	font-size: 16pt;
}

#content #title hgroup h3 {
	text-align: center;
	font-size: 12pt;
}

#tb-delfor-data caption {
	padding: 5px;
	text-align: center;
	background-color: #888888;
	color: white;
	border-bottom: 1px solid white;
}

#tb-delfor-data td.header {
	font-weight: bold;
}

#tb-delfor-data td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #cecece;
	border-bottom: 1px solid white;
}

#tb-delfor-data, #tb-delfor-item {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-spacing: 0px;
	margin: 0px auto;
	padding: 10px;
}

#tb-delfor-data {
	box-shadow: 0 0 20px #AAA;
}

#item {
	display: block;
	box-shadow: 0 0 20px #AAA;
	width: 75%;
	height: 75%;
	margin: 0 auto;
	margin-top: 50px;
	padding: 15px;
}

#tb-delfor-item:border-bottom {
	margin-top: 100px;
}

#tb-delfor-item tbody td {
	padding: 10px;
	text-align: center;
	background-color: #cecece;
	border-bottom: 1px solid white;
}

#tb-delfor-item thead td {
	padding: 10px;
	text-align: center;
	background-color: #888888;
	color: white;
	border-bottom: 1px solid white;
}

#caption-item {
	color: white;
	padding: 3px;
	background-color: #888888;
}

#caption-item-number {
	font-size: 14pt;
	background-color: #dddddd;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 5px;
	margin-bottom: 30px;
}

#welcome h1 {
	font-family: 'Times New Roman', sans-serif;
	font-size: 16pt;
	text-align: center;
	color: rgb(18, 18, 88);
}

.overlay-layer {
	position: absolute;
	width: 500px;
	height: 200px;
	margin-top: 0px;
	z-index: 0;
	font-size: 25px;
	color: #121258;
	text-align: center;
	line-height: 200px;
}

form#form-file button#generate {
	display: block;
	position: relative;
	margin: 20px auto;
	width: 100%;
	height: 35px;
	cursor: no-drop;
	padding: 5px;
	box-shadow: 0 4px #999;
	border: none;
	border-radius: 10px;
	outline: none;
	top: 200px;
}

form#form-file button#generate:active {
	background-color: #3e8e41;
	box-shadow: 0 2px #777;
	transform: translateY(2px);
}

#menu-topo {
	position: absolute;
	top: 10px;
	left: 10px;
}

#menu-topo a {
	display: flex;
	flex-direction: row;
	text-align: center;
	text-decoration: none;
	color: #121258;
	font-size: 12pt;
	text-shadow: 0 1px 0 #ccc;
	margin: 5px;
	border: 1px solid #121258;
	width: 170px;
	outline: none;
}

#menu-topo a img {
	width: 30px;
	height: 30px;
	background-color: #121258;
}

#menu-topo a span {
	padding: 5px;
}

#menu-topo a:hover {
	border: 1px solid #20b2aa;
	color: #20b2aa;
}

#menu-topo a:hover img {
	background-color: #20b2aa;
}

#title {
	margin-top: 25px;
}

#title hgroup h2 {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	font-size: 20pt;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 25px;
	border: 1px solid #121258;
	border-radius: 15px;
	padding: 5px;
	background-color: #dcdcdc;
}

/*just bg and body style*/
.container{
background-color:#1E2832;
padding-bottom:20px;
margin-top:10px;
border-radius:5px;
}
.center{
text-align:center;  
}
#top{
margin-top:20px;  
}
.btn-container{
background:#fff;
border-radius:5px;
padding-bottom:20px;
margin-bottom:20px;
}
.white{
color:white;
}
.txtupload{
color:#1E2832;
padding-top:40px;
font-size:7em;
}
#namefile{
color:black;
}
h4>strong{
color:#ff3f3f
}
.btn-primary{
border-color: #ff3f3f !important;
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #ff3f3f !important;
border-color: #ff3f3f !important;
}

/*these two are set to not display at start*/
.txtupload.ok{
display:none;
color:green;
}
.txtupload.stop{
display:none;
color:red;
}


/*this sets the actual file input to overlay our button*/ 
#fileup{
opacity: 0;
-moz-opacity: 0;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
width:200px;
cursor: pointer;
position:absolute;
left: 50%;
transform: translateX(-50%);
bottom: 40px;
height: 50px;
}

/*switch between input and not active input*/
#submitbtn{
  padding:5px 50px;
  display:none;
}
#fakebtn{
  padding:5px 40px;
}

#sign{
	color:#1E2832;
	position:fixed;
	right:10px;
	bottom:10px;
	text-shadow:0px 0px 0px #1E2832;
	transition:all.3s;
}
#sign:hover{
	color:#1E2832;
	text-shadow:0px 0px 5px #1E2832;
}