<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8" />
<title>SL BRASIL - DELFOR/EDI</title>
<link rel="stylesheet" href="/res/css/style.css" />
</head>
<body>
	<div id="header">
		<div id="menu-topo">
			<a href="/"> <img alt="Home" src="/res/images/home.png"> <span>home</span>
			</a> <a href="/export/{$filename}"> <img alt="Export to Excel"
				src="/res/images/export-excel.png"> <span>export to
					excel</span>
			</a>
		</div>
		<a href="/"><img id="logo-topo" src="/res/images/logo.jpg" /></a>
	</div>
	<div id="content">
		<div id="title">
			<hgroup>
				<h1>PROGRAMAÇÃO DE PEÇA/MATERIAL - ANALÍTICO</h1>
				<h3>GMB - GENERAL MOTORS DO BRASIL S/A</h3>
				{if="$delfor->getStrategy() == 0"}
				<h2 style='color: #DDD; text-shadow: 0px 0px 15px #f66b29'>DELFOR</h2>
				{else}
				<h2 style='color: #DDD; text-shadow: 0px 0px 15px #628f35'>DELJIT</h2>
				{/if}
			</hgroup>
		</div>
		<div id="delfor-data">
			<table id="tb-delfor-data">
				<caption>INFORMAÇÕES DA PROGRAMAÇÃO</caption>
				<tr>
					<td class="header">Data da Geração:</td>
					<td class="cell">{$delfor->getGenerateDate()}</td>
					<td class="header"></td>
					<td class="cell"></td>
				</tr>
				<tr>
					<td class="header">Documento/Mensagem:</td>
					<td class="cell">{$delfor->getDocID()}</td>
					<td class="header">Emitente:</td>
					<td class="cell">{$delfor->getEmitente()}</td>
				</tr>
				<tr>
					<td class="header">Função da Mensagem:</td>
					<td class="cell">{$delfor->getMsgFunc()}</td>
					{if="$delfor->getStrategy() == 0"}
					<td class="header">Indicador de Processamento:</td>
					<td class="cell">{$delfor->getProcessIndic()}</td> {else}
					<td class="header">Indicador de Status:</td>
					<td class="cell">{$delfor->getStatusIndic()}</td> {/if}
				</tr>
				<tr>
					<td class="header">Início do Horizonte:</td>
					<td class="cell">{$delfor->getIniHoriz()}</td>
					<td class="header">Fim do Horizonte:</td>
					<td class="cell">{$delfor->getEndHoriz()}</td>
				</tr>
				<tr>
					<td class="header">Programa Atual:</td>
					<td class="cell">{$delfor->getGenerateDate()}</td>
					<td class="header"></td>
					<td class="cell"></td>
				</tr>
			</table>
			{loop="$delfor->getLIN()"}
			<div id="item">
				{$value1->startFormat()}
				<table id="tb-delfor-item">
					<caption id="caption-item">Código do Item:</caption>
					<caption id="caption-item-number">{$value1->getPartNumber()}</caption>
					<caption id="caption-crono">CRONOGRAMA</caption>
					<thead>
						{if="$delfor->getStrategy() === 0"}
						<tr>
							<td>TIPO DE</td>
							<td>FREQUÊNCIA</td>
							<td>DATA</td>
							<td>QUANTIDADE</td>
							<td>QTDE ACUMULADA</td>
						</tr>
						{else}
						<tr>
							<td>DATA</td>
							<td>QUANTIDADE</td>
						</tr>
						{/if}
					</thead>
					<tbody>
						{loop="$value1->getLineItemValues().QUANTITY"}
						<tr>
							{if="$delfor->getStrategy() === 0"}
							<td>{$value1->getLineItemValues().TYPE.$counter2}</td>

							<td>{$value1->getLineItemValues().FREQUENCY.$counter2}</td> {/if}
							<td>{$value1->getLineItemValues().DATE_TIME.$counter2}</td>

							<td>{$value1->getLineItemValues().QUANTITY.$counter2}</td>
							{if="$delfor->getStrategy() === 0"}
							<td>{$value1->getLineItemValues().ACCUMULATED.$counter2}</td>
							{/if}
						</tr>
						{/loop}
					</tbody>
				</table>
			</div>
			{/loop}
		</div>
	</div>

</body>
</html>